# 日志文件
*.log
*.log.*

# 构建产物
target/
node_modules/
dist/
dist-ssr/
.next/

# Go 构建
jiaxin-room-api/tmp/

# IDE / 编辑器
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# 临时文件
*.local
*.iml
*.iws
*.ipr

# 环境变量
.env
.env.production
